<mat-toolbar class="primary" fxLayoutAlign="space-between center">
  <div class="brand" fxLayoutAlign="center center">
    <img class="logo" src="../../assets/header/tasked_logo.png" alt="" />
  </div>
  <div class="profile" fxLayoutAlign="center center">
    <button
      mat-button
      class="primary"
      #menuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="menu"
      [matTooltip]="'Menu'"
      [matTooltipPosition]="'left'"
      *ngIf="loggedIn"
    >
      <span> {{ username }} </span><mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu xPosition="before" #menu="matMenu" class="customize">
      <button
        fxFill
        fxLayoutAlign="start center"
        mat-flat-button
        (click)="openProfileDialog()"
      >
        <mat-icon>perm_identity</mat-icon>
        <span>Your Profile</span>
      </button>
      <mat-divider></mat-divider>
      <button
        fxFill
        fxLayoutAlign="start center"
        mat-flat-button
        (click)="openSettingsDialog()"
      >
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <mat-divider></mat-divider>
      <button
        fxFill
        fxLayoutAlign="start center"
        mat-flat-button
        (click)="openContactDialog()"
      >
        <mat-icon>local_phone</mat-icon>
        <span>Contact Us</span>
      </button>
      <mat-divider></mat-divider>
      <button
        fxFill
        fxLayoutAlign="start center"
        mat-flat-button
        (click)="logout()"
      >
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
