<mat-card fxFlex fxLayout="column">
  <mat-card-header fxLayout="row">
    <button
      class="close"
      mat-icon-button
      color="warn"
      (click)="helperFnCloseModal()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-card-title fxFlex fxLayoutAlign="start center">
      <mat-icon>phone</mat-icon>
      <h3>Contact the developer</h3>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly center">
    <form
      fxFlex
      fxLayout="column wrap"
      fxLayoutGap="10px"
      fxLayoutAlign="space-around center"
    >
      <mat-slide-toggle (change)="helperToggle = !helperToggle"
        ><span>Having issues with app?</span></mat-slide-toggle
      >
      <div
        *ngIf="helperToggle"
        fxFlex="60"
        class="checkbox"
        fxLayout="column"
        fxLayoutAlign="space-between start"
      >
        <span> What kind of issues did you face?</span>
        <mat-selection-list name="issues" [(ngModel)]="issues">
          <mat-list-option name="responsiveness" value="responsiveness">
            Responsiveness Issues
          </mat-list-option>
          <mat-list-option value="ux-ui">
            UI/UX Issues
          </mat-list-option>
          <mat-list-option value="functionality">
            Functionality Issues
          </mat-list-option>
          <mat-list-option value="insufficient-functionalities">
            Insufficient functionalities
          </mat-list-option>
          <mat-list-item
            >Others(if so please mention in comments)
          </mat-list-item>
        </mat-selection-list>
      </div>
      <mat-form-field fxFill>
        <mat-label>Add your precious comments...</mat-label>
        <textarea
          matInput
          [(ngModel)]="comments"
          name="comments"
          placeholder="Help us improve..."
        ></textarea>
      </mat-form-field>
      <button mat-raised-button class="primary" (click)="addComments()">
        Comment!!
      </button>
    </form>
    <img
      *ngIf="!helperToggle"
      src="../../../assets/contact/contact.jpg"
      alt=""
    />
  </mat-card-content>
</mat-card>
