<div class="form-wrapper">
  <form novalidate [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <table cellpadding="5">
      <mat-error class="server-error" *ngIf="helperServerError">{{
        helperServerError
      }}</mat-error>
      <tr>
        <td>
          <mat-form-field fxFill>
            <mat-label>Username</mat-label>
            <input
              formControlName="username"
              matNativeControl
              type="text"
              placeholder="Enter your username..."
            />
            <button type="button" mat-icon-button matSuffix disabled>
              <mat-icon>person</mat-icon>
            </button>
            <mat-error *ngIf="signupForm.get('username').errors?.required">
              Username is required...
            </mat-error>
            <mat-error *ngIf="!signupForm.get('username').errors?.required">
              Please avoid numbers and special characters...
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field fxFill>
            <mat-label>Email Id</mat-label>
            <input
              formControlName="email"
              matNativeControl
              type="text"
              placeholder="Enter your email id..."
            />
            <button type="button" mat-icon-button matSuffix disabled>
              <mat-icon>email</mat-icon>
            </button>
            <mat-error *ngIf="signupForm.get('email').errors?.required">
              E-mail Id is required...
            </mat-error>
            <mat-error *ngIf="signupForm.get('email').errors?.email">
              E-mail Id invalid...
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field fxFill>
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              matInput
              [type]="helperPasswordVisible ? 'text' : 'password'"
              placeholder="Enter your password..."
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="helperPasswordVisible = !helperPasswordVisible"
            >
              <mat-icon>{{
                helperPasswordVisible ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-hint>Should between 6 - 12 characters</mat-hint>
            <mat-error *ngIf="signupForm.get('password').errors?.required">
              Password is required...
            </mat-error>
            <mat-error
              *ngIf="
                !signupForm.get('password').errors?.required &&
                signupForm.get('password').status === 'INVALID'
              "
            >
              Password invalid...
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field fxFill>
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              formControlName="confirmPassword"
              [type]="helperConfirmPasswordVisible ? 'text' : 'password'"
              placeholder="Enter your password..."
              (keyup)="checkMatch()"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="
                helperConfirmPasswordVisible = !helperConfirmPasswordVisible
              "
            >
              <mat-icon>{{
                helperConfirmPasswordVisible ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="signupForm.get('confirmPassword').errors?.required"
            >
              Confirm Password is required...
            </mat-error>
            <mat-error
              *ngIf="
                !signupForm.get('confirmPassword').errors?.required &&
                signupForm.get('confirmPassword').errors?.invalid
              "
            >
              Passwords mismatched...
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td fxLayoutAlign="center">
          <button
            [type]="signupForm.invalid && !passwordMatch ? 'button' : 'submit'"
            mat-raised-button
            class="btn-block"
            class="primary"
            [disabled]=""
          >
            <span>
              {{
                helperStatus === "pristine" ? "Register" : "Registering..."
              }}</span
            >
          </button>
        </td>
      </tr>
      <tr>
        <td fxLayoutAlign="center" class="pad-need">
          <span
            >Already have an account ? <a routerLink="/auth"> Login</a></span
          >
        </td>
      </tr>
    </table>
  </form>
</div>
