<mat-card fxFlex fxLayout="column">
  <mat-card-header>
    <mat-card-title>Add your new task</mat-card-title>
    <button
      class="close"
      mat-icon-button
      color="warn"
      (click)="helperFnCloseModal()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <form
      fxFlex="100"
      fxLayoutAlign="center center"
      [formGroup]="addTask"
      (ngSubmit)="onSubmit()"
    >
      <table fxFlex.lt-md>
        <tr>
          <td>
            <mat-form-field fxFill>
              <mat-label>Enter the title</mat-label>
              <input matInput type="text" formControlName="title" />

              <mat-hint align="end"
                >{{ addTask.get("title").value?.length || 0 }}/15</mat-hint
              >
              <mat-error *ngIf="addTask.get('title').errors?.required">
                Task title is required
              </mat-error>
              <mat-error *ngIf="!addTask.get('title').errors?.required">
                Please ensure the character limit...
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field fxFill>
              <mat-label>Enter the description</mat-label>
              <textarea
                matInput
                type="text"
                formControlName="description"
              ></textarea>
              <mat-hint align="end"
                >{{
                  addTask.get("description").value?.length || 0
                }}/50</mat-hint
              >
              <mat-error *ngIf="addTask.get('description').errors?.required">
                Description is required
              </mat-error>
              <mat-error *ngIf="!addTask.get('description').errors?.required">
                Please ensure the character limit...
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field fxFill>
              <mat-label>Deadline</mat-label>
              <input
                matInput
                formControlName="deadline"
                [matDatepicker]="picker"
                readonly
                [min]="today"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>Deadline is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field fxFill>
              <mat-label>Select the priority</mat-label>
              <mat-select formControlName="priority">
                <mat-option value="top">Top</mat-option>
                <mat-option value="moderate">Moderate</mat-option>
                <mat-option value="least">Least</mat-option>
              </mat-select>
              <mat-error>Priority is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field fxFill>
              <mat-label>Select the Label</mat-label>
              <mat-select formControlName="label">
                <mat-option value="personal"> Personal</mat-option>
                <mat-option value="work">Work</mat-option>
                <mat-option value="shopping"> Shopping</mat-option>
                <mat-option value="others"> Others</mat-option>
              </mat-select>
              <mat-error>Label is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            <button mat-raised-button class="primary">Create Task...</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
