mat-card {
  min-width: 40vw;
  max-height: 90vh;
}

img {
  width: 100px;
  border-radius: 125px;
  cursor: pointer;
  padding-bottom: 10px;
}

table th {
  text-align: start;
}

mat-progress-spinner {
  margin: auto;
}

.progress-indicator {
  font-size: large;
}

.close mat-icon {
  font-size: medium;
  margin: 0;
  padding: 0;
  border: 0;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
}

input[matInput] {
  width: 50px;
}

/* .noOfTasks {
  position: relative;
  left: 100%;
  border: 1px solid red;
  border-radius: 125px;
  width: 30px;
  height: 30px;
} */
