<mat-card fxFlex fxLayout="column" fxLayoutAlign="center center">
  <mat-card-header fxFlex fxLayout="row" fxLayoutAlign="center center">
    <button
      class="close"
      mat-icon-button
      color="warn"
      (click)="helperFnCloseModal()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <img src="../../../assets/profile/dp.jpg" alt="" />
  </mat-card-header>
  <mat-card-content fxFlex fxLayout="column" fxLayoutAlign.xs="center center">
    <mat-divider></mat-divider>
    <mat-list-item>
      <h3>{{ username }}</h3>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <h3>{{ email }}</h3>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <h3>Tasks</h3>
      <table fxFill cellspacing="10px">
        <tr>
          <td>Active Tasks</td>
          <td>{{ details.active }}</td>
        </tr>
        <tr>
          <td>Completed Tasks</td>
          <td>{{ details.completed }}</td>
        </tr>
        <tr>
          <td>Expired Tasks</td>
          <td>{{ details.dead }}</td>
        </tr>
        <tr>
          <td>Total Tasks</td>
          <td>{{ details.total }}</td>
        </tr>
      </table>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <h3>Overall Performance</h3>
      <div>
        <div fxFlex fxLayout="column" fxLayoutAlign="center center">
          <mat-progress-spinner [value]="value"> </mat-progress-spinner>
          <div
            class="progress-indicator"
            style="position: relative; top: -60px; left: 0px;"
          >
            {{ value / 100 | percent }}
          </div>
        </div>
      </div>
    </mat-list-item>
  </mat-card-content>
</mat-card>
