<div class="main" fxLayoutAlign="center center">
  <mat-card
    fxFlex.xs="90"
    fxFlex.sm="80"
    fxFlex.md="70"
    fxFlex.lg="60"
    fxFlex.xl="50"
    fxLayoutGap="10px"
    fxLayout="column"
    fxLayoutAlign="center start"
    [ngClass]="{
      dead: task.status === 'dead',
      completed: task.status === 'completed'
    }"
  >
    <button mat-icon-button class="close" (click)="deleteTask(task.id)">
      <mat-icon>close</mat-icon>
    </button>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="10px"
      fxLayoutAlign="space-between center"
      style="width: 100%;"
    >
      <mat-card-header fxLayoutGap="2%" fxLayout="row" fxLayout.xs="column">
        <span fxHide.xs matCardAvatar [ngSwitch]="task.label">
          <mat-icon
            *ngSwitchCase="'personal'"
            [ngClass]="{
              top: task.priority === 'top',
              moderate: task.priority === 'moderate',
              least: task.priority === 'least'
            }"
          >
            person
          </mat-icon>
          <mat-icon
            *ngSwitchCase="'work'"
            [ngClass]="{
              top: task.priority === 'top',
              moderate: task.priority === 'moderate',
              least: task.priority === 'least'
            }"
          >
            work
          </mat-icon>
          <mat-icon
            *ngSwitchCase="'shopping'"
            [ngClass]="{
              top: task.priority === 'top',
              moderate: task.priority === 'moderate',
              least: task.priority === 'least'
            }"
          >
            local_mall
          </mat-icon>
          <mat-icon
            *ngSwitchCase="'others'"
            [ngClass]="{
              top: task.priority === 'top',
              moderate: task.priority === 'moderate',
              least: task.priority === 'least'
            }"
          >
            pie_chart
          </mat-icon>
        </span>
        <mat-card-title>
          {{ task.title }}
        </mat-card-title>

        <mat-card-subtitle fxHide.gt-xs>
          {{ task.priority | titlecase }} , {{ task.label | titlecase }}
        </mat-card-subtitle>
      </mat-card-header>
    </div>
    <mat-card-content
      *ngIf="task.status === 'active'"
      fxFill
      fxFlex="100"
      fxLayout="column"
      fxLayout.gt-sm="row wrap"
      fxLayoutAlign.gt-sm="space-between center"
    >
      <p fxFlex fxFlex.gt-sm="68" fxHide.xs>
        {{ task.description }}
      </p>

      <mat-card-actions
        fxFlex
        fxFlex.gt-sm="30"
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayoutAlign.xs="start center"
        style="padding-right: 10px;"
      >
        <button
          mat-raised-button
          class="primary"
          (click)="updateCompletedStatus(task.id)"
        >
          Completed
        </button>
      </mat-card-actions>
      <mat-progress-bar
        fxFlex.gt-sm="100"
        mode="determinate"
        [value]="value"
      ></mat-progress-bar>
    </mat-card-content>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="deadline">
      <span fxFlex="50"><b>Deadline:</b> {{ task.deadline | date }}</span>
    </div>
  </mat-card>
</div>
