:host {
  display: block;
  margin: 1% 0%;
}

mat-card:hover {
  box-shadow: 5px 5px 10px rgba(137, 43, 226, 0.4);

}

.deadline {
  font-size: larger;
  width: 100%;
}

.deadline span {
  margin-top: 5px;
  margin-bottom: 0px;
}

span[matCardAvatar] {
  width: 40px;
  border-radius: 125px;
  cursor: default;
  box-shadow: 0px 0px 5px rgba(137, 43, 226, 0.4);

}

span mat-icon {
  margin: 10%;
}

mat-card-header {
  margin: 0px;
  /* display: inline-block; */
  text-align: justify;
}

mat-card-actions {
  margin-left: 2%;
}

mat-card-actions button {
  max-width: 250px;
}

.primary {
  background-color: blueviolet;
  color: white;
}

mat-card-content {
  color: grey;
  text-align: justify;
}

.close {
  position: absolute;
  top: -5px;
  right: -5px;
  color: red;
}

.close mat-icon {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: medium;
}

mat-card-title {
  margin-top: 10px;
  white-space: nowrap;
}

.top {
  color: rgb(216, 0, 0);
}

.moderate {
  color: orange;
}

.least {
  color: blue;
}

.completed {
  background-image: url('../../../assets/utils/completed.png');
  background-size: 190px 70px;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  font-weight: bold;
  border: 2px solid green;
  color: green;
}

.completed mat-card-header mat-card-title,
.completed mat-card-header mat-card-subtitle {
  font-weight: bold;
  color: green;
}

.dead {
  background-image: url('../../../assets/utils/expired.png');
  background-size: 180px 50px;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  font-weight: bold;
  border: 2px solid #d10000c5;
  color: #d10000c5;
}

.dead mat-card-header mat-card-title,
.dead mat-card-header mat-card-subtitle {
  font-weight: bold;
  color: #d10000c5;
}
