:host {
  display: block;
  width: 100%;
  max-width: 700px;
  min-width: 500px;
  height: 100%;
  min-height: 90vh;
  max-height: 100vh;
  overflow: scroll;
}

mat-card-title {
  padding: 5px;
}

img {
  width: 300px;
  height: 200px;
}

span {
  /* line-height: 25px; */
  text-align: justify;
  white-space: normal;
}

h4 {
  margin-bottom: 0px;
}

mat-list-item {
  margin: 5px 0px;
}

mat-list-item:hover {
  background-color: whitesmoke;
  transition: ease-in .2s;
  cursor: default;
}
