h3 {
  font-size: large !important;
}

mat-form-field {
  width: 10%;
  margin: 0% 5%;
}

.primary {
  background-color: blueviolet;
  color: white;
}

span {
  white-space: normal;
}

mat-button-toggle {
  width: 10%;
  min-width: 50px;
  border-radius: 125%;
}

.selected {
  color: white;
}

.red {
  background-color: red;
  color: red;
}

.green {
  background-color: green;
  color: green;
}

.blue {
  background-color: midnightblue;
  color: midnightblue;
}

.violet {
  background-color: blueviolet;
  color: blueviolet;
}

.pink {
  background-color: deeppink;
  color: deeppink;
}

.selected {
  color: white;
}

.close mat-icon {
  font-size: medium;
  margin: 0;
  padding: 0;
  border: 0;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
}
