<mat-card>
  <mat-card-header>
    <button
      class="close"
      mat-icon-button
      color="warn"
      (click)="helperFnCloseModal()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-card-title fxFlex fxLayoutAlign="start center">
      <mat-icon>settings</mat-icon>
      <h3>Settings</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <div mat-subheader><span>Notifications</span></div>
      <mat-selection-list [(ngModel)]="notify" name="notify">
        <mat-list-option value="alarm">Make an alarm</mat-list-option>
        <mat-list-option value="mail">Reach to inbox</mat-list-option>
        <mat-list-option value="popup">Just pop it up</mat-list-option>
      </mat-selection-list>
      <div mat-subheader><span>Timings</span></div>
      <mat-list-item>
        <form>
          <mat-form-field>
            <mat-label>Hrs..</mat-label>
            <input
              matInput
              [(ngModel)]="hours"
              name="hours"
              type="number"
              min="0"
              max="23"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Mins..</mat-label>
            <input
              matInput
              [(ngModel)]="minutes"
              name="minutes"
              type="number"
              min="0"
              max="59"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Secs..</mat-label>
            <input
              matInput
              [(ngModel)]="seconds"
              name="hours"
              type="number"
              min="0"
              max="59"
            />
          </mat-form-field>
        </form>
      </mat-list-item>
      <div mat-subheader><span>Theme</span></div>
      <mat-list-item>
        <div
          fxFlex="50"
          fxFlex.lt-md="100"
          fxLayout="row"
          fxLayoutAlign="space-evenly center"
        >
          <button mat-icon-button (click)="changeTheme('red')">
            <mat-icon class="red">stop_circle</mat-icon>
          </button>
          <button mat-icon-button (click)="changeTheme('green')">
            <mat-icon class="green">stop_circle</mat-icon>
          </button>
          <button mat-icon-button (click)="changeTheme('indigo')">
            <mat-icon class="blue">stop_circle</mat-icon>
          </button>
          <button mat-icon-button (click)="changeTheme('blueviolet')">
            <mat-icon class="violet selected">check</mat-icon>
          </button>
          <button mat-icon-button (click)="changeTheme('deeppink')">
            <mat-icon class="pink">stop_circle</mat-icon>
          </button>
        </div>
      </mat-list-item>
      <div mat-subheader><span>Message</span></div>
      <mat-list-item>
        <mat-slide-toggle [(ngModel)]="advertise"
          ><span
            >Get updated with our updates via mail...</span
          ></mat-slide-toggle
        >
      </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-raised-button class="primary" (click)="saveSettings()">
        Save settings!!
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
